{
    ScriptingInfoClass = StepTalkScriptingInfo;
    
    Classes = (
        STActor,
        STEnvironment,
        STLanguageManager,
        STScript,
        STScriptsManager,
        STBundleInfo,
        STEngine,
        STScriptObject,
        STConversation,
        STRemoteConversation,
        STContext
    );
}
